<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>FarmX Blog</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Quicksand&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{% static 'blog.css' %}">
  </head>
  <body>

  <nav class="navbar navbar-expand-lg bd-navbar">
  <a href="{% url 'home' %}" class="navbar-brand">FarmX Blog</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav nav-items">
          {% if user.is_authenticated %}
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <b>{{user.first_name}}</b>
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a href="{% url 'post-form' %}" class="dropdown-item">Add Post</a>
                <a class="dropdown-item" href="{% url 'my-posts' %}">My Posts</a>
                <div class="dropdown-divider"></div>
                <a href="/logout/" class="dropdown-item">Logout</a>
              </div>
            </li>
            {% else %}
            <li class="nav-item" data-toggle="modal" data-target="#loginModal"><a href="#" class="nav-link"><b>LOGIN</b></a></li>
            {% endif %}
      <form class="nav-items" action="{% url 'search' %}" method="get">
      <input id="home-search-btn" type="text" name="query" value="{{request.GET.query}}" placeholder="Search">
      <button id="home-search-go" type="submit" class="btn btn-primary">Go</button>
    </form>
        </ul>
  </div>
</nav>
  {% for message in messages %}
  <div class="alert alert-{{ message.tags }}" role="alert">
    <strong>Message: </strong> {{ message }}
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  {% endfor %}
  <div class="modal fade" id="loginModal" tabindex="-1" role="dialog" aria-labelledby="loginModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Login</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form action="{% url 'home' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
              <label for="username">Username</label>
              <input type="text" class="form-control" id="username" name="username" required>
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" name="password" required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
      </div>
    </div>
  </div>
      {% block content %}
      {% endblock %}
  </body>
</html>